*

!src
src/*
!src/main.c
!src/parse_int.c
!src/stack_append.c
!src/stack_apply.c
!src/stack_delete_one.c
!src/stack_delete.c
!src/stack_extract.c
!src/stack_new.c
!src/stack_parse.c

!include
include/*
!include/push_swap.h

!Makefile
!subject.pdf